<mat-card>
    <mat-card-header>
      <mat-card-title>{{titulo}}</mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="formaDePago">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> forma De Pago. </th>
            <td mat-cell *matCellDef="let element"> {{element.formaDePago}} </td>
          </ng-container>

          <ng-container matColumnDef="garantia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Garantia. </th>
            <td mat-cell *matCellDef="let element"> {{element.garantia}} </td>
          </ng-container>
          <ng-container matColumnDef="recibo_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Recibo Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.recibo_id}} </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons itemsPerPageLabel="item por pagina"></mat-paginator>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Crear</button>

    </mat-card-actions>
  </mat-card>
