<mat-card>
    <mat-card-header>
      <mat-card-title>{{titulo}}</mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="fechaPedido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Pedido. </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaPedido | date:'dd/MM/yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="fechaEntrega">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Entrega. </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaEntrega | date:'dd/MM/yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="cliente_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente id. </th>
            <td mat-cell *matCellDef="let element"> {{element.cliente_id}} </td>
          </ng-container>
          <ng-container matColumnDef="tecnico_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tecnico id. </th>
            <td mat-cell *matCellDef="let element"> {{element.tecnico_id}} </td>
          </ng-container>
          <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
              <td mat-cell *matCellDef="let element">
                <span [ngClass]="{'estadoEliminado': !verEstado(element),
                'estadoActivo': verEstado(element)}"> {{ verEstado(element)}}</span>
            </td>
            </ng-container>
          <ng-container matColumnDef="actualizar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actualizar Formulario. </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="openUpdateDialog(element)" [disabled]="!verEstado(element)">Actualizar</button></td>
          </ng-container>
          <ng-container matColumnDef="insertar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Insertar Detalle. </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="openDetalleDialog(element.id)" mat-raised-button color="accent" [disabled]="!verEstado(element)">Insertar</button></td>
          </ng-container>
          <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ver Detalle. </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="verDetalle(element.id)" mat-raised-button color="warn">Detalle</button></td>
          </ng-container>
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar. </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="deleteFormularios(element)" [disabled]="!verEstado(element)" mat-raised-button color="warn">Eliminar</button></td>
          </ng-container>
          <ng-container matColumnDef="recibo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pdf. </th>
            <td mat-cell *matCellDef="let element">
                <button  mat-raised-button color="primary">
                  <a [href]="pdfFormulario(element.id)" style="text-decoration: none; color: white" download>Imprimir </a> </button></td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons itemsPerPageLabel="item por pagina"></mat-paginator>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openDialog()">Crear</button>

    </mat-card-actions>
</mat-card>
